/*
classes
 */
.container {
    border: 1px solid black;
    background-image: linear-gradient(deepskyblue, darkred);
}
.subcont {
    width: 500px;
}

.diceclass {

    text-align:center;

}

.controlclass {
    text-align:center;

}

.colloums{
    border: 1px solid maroon;
    width: 250px;
}

.labelseg{
    padding: 5px;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
    color: white;
}

input{
    width: 30px;
}

/*
IDs
 */

#container {
    width: 500px;
    margin: 30px auto;
    padding: 10px;
    display: grid;
    grid-template-areas:
            "top"
            "bottom";
}

#top {
    grid-area: top;
    display: grid;
    grid-template-areas:
            "dice"
            "controls";
}

#dice {
    grid-area: dice;
}

#controls {
    grid-area: controls;
    padding: 10px;
    display: grid;
    grid-template-areas:
            "turn button";
}

#turn{grid-area: turn;}
#bntRoll{grid-area: button;}


#bottom {
    grid-area: bottom;
    display: grid;
    grid-template-areas:
            "col1 col2 col3"
}

#col1{grid-area: col1}
#col2{grid-area: col2}
