/*
classes
 */
.container {
    border: 1px solid black;
    background-image: linear-gradient(limegreen, darkgreen);
}
.subcont {
    width: 500px;
}

.diceclass {

    text-align:center;

}

.controlclass {
    text-align:center;

}

.colloums{
    border: 1px solid darkgreen;
    width: 250px;
    border-radius: 12px;
}

.labelseg{
    padding: 5px;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
    color: white;
}

input{
    width: 40px;
    border-radius: 12px;
    text-align: center;
}

/*
IDs
 */

#container {
    border-radius: 12px;
    width: 500px;
    margin: 30px auto;
    padding: 10px;
    display: grid;
    grid-template-areas:
            "top"
            "bottom";
}

#top {
    grid-area: top;
    display: grid;
    grid-template-areas:
            "dice"
            "controls";
}

#dice {
    grid-area: dice;
}

#controls {
    grid-area: controls;
    padding: 10px;
    display: grid;
    grid-template-areas:
            "turn button";
}

#turn{grid-area: turn;}
#bntRoll{grid-area: button;}


#bottom {
    grid-area: bottom;
    display: grid;
    grid-template-areas:
            "col1 col2 col3"
}

#col1{grid-area: col1}
#col2{grid-area: col2}


#bntRoll{
    background-color: darkgreen;
    border-radius: 12px;
    border:none;
    color: white;
    text-transform: uppercase;

    background-position: center;
    transition: background 0.5s;

}

#bntRoll:hover{
    background: limegreen radial-gradient(circle, transparent 1%, limegreen 1%) center/15000%;
    color: black;

}

#bntRoll:active{
    background-color: white;
    background-size: 100%;
    transition: background 0s;
}

.diebtn {
    background-color: limegreen;
    border-radius: 12px;
    border: none;
    box-shadow: 0 5px darkgreen;
}

.diebtn:hover{
    background-color: rgba(255,255,255,.5);
}

.diebtn:active{
    box-shadow: 0 1px black;
    transform: translateY(4px);
}

img{
    border-radius: 12px;
}
/*
Eksempel på hvordan man inverter img baggrund når det skal implementeres når terning er blevet hodlt
.diebtn:hover img{
    -webkit-filter: invert(100%);
} */

